.contact-page{
    .header{
        font-family: "Monument Extended";
        font-weight: 300;
	    font-size: clamp(3rem, 5vw, 6rem); 
    }
    .right-contact{
        img{
            height: 20px;
        }
    }
    .email{
        font-family: "Monument Extended";
        font-weight: 400;
	    font-size: clamp(1.5rem, 3vw, 3.5rem); 
    }
}