.landing-section {
  .hero-text-wrapper {
    font-family: 'Monument Extended';
    font-weight:lighter;
    h1 {
      font-size: clamp(2rem, 3vw, 4rem);
      span {
        display: inline-flex;
      }
    }
  }
  .hero-work-links {
    a {
      opacity: 0;
      transform: translateY(100%);
    }
  }
  .scroll-down {
    opacity: 0;
    transform: rotate(-90deg);
  }
  .down-arrow-container {
    transition: all 0.3s ease;
    position: relative;
  }
  .down-arrow-box {
    background-color: #0b0b0b;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
