.nav-bar {
}
.nav-bar a {
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 0%;
    left: 0%;
    height: 2px;
    background: white;
    transition: cubic-bezier(0.2, 0.72, 0, 0.84) 1.5s;
  }
  a:hover::after {
    width: 100%;
  }
}
