.desktop-nav-bar {
  .moon {
    opacity: 0;
    transform: rotate(-120deg);
    height: 40px;
    width: 40px;
    background: radial-gradient(ellipse farthest-corner at 30% 100%, white 45%, black 47%);
    background-size: 150% 100%;
    border: 3px solid white;
    border-radius: 50%;
  }
  span a {
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative;
    opacity: 0;
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 0%;
      left: 0%;
      height: 2px;
      background: white;
      transition: cubic-bezier(0.2, 0.72, 0, 0.84) 1.5s;
    }
    &:hover::after {
      width: 100%;
    }
  }
}

// MOBILE NAVIGATION
$items: 4;
$transition-duration: 0.5s;
$transition-delay: 0.05s;
.mobile-navbar {
  #toggle {
    display: none;
  }
  #toggle:checked {
    & ~ .toggle-container .button-toggle {
      box-shadow: 0 0 0 550px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);

      &:before {
        transform: translateY(-50%) rotate(45deg) scale(1);
      }

      &:after {
        transform: translateY(-50%) rotate(-45deg) scale(1);
      }
    }

    // Open Nav
    & ~ .nav {
      margin-bottom: 70px;
      pointer-events: auto;
      transform: translate(50px, 50px);

      // Restoring nav items from 'lines' in the menu icon
      .nav-item {
        color: #ec7263;
        letter-spacing: 0;
        height: 40px;
        line-height: 40px;
        margin-top: 0;
        opacity: 1;
        transform: scaleY(1);
        transition: $transition-duration, opacity 0.1s;

        // Setting delays for the nav items in open transition
        @for $i from 1 through $items {
          &:nth-child(#{$i}) {
            $delay: ($items - $i) * $transition-delay;
            transition-delay: $delay;
            &:before {
              transition-delay: $delay;
            }
          }
        }

        // Hide the lines
        &:before {
          opacity: 0;
        }
      }
    }
  }

  /* Toggle Button */
  .button-toggle {
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 25px 0px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    transition: $transition-duration + 0.1;

    // Shadow on Hover
    &:hover {
      box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
    }

    // Making the 'X' icon using `:before` and `:after` pseudo-elements
    // Initially hidden beause of `scale(0)` transformation

    &:before,
    &:after {
      position: absolute;
      content: "";
      top: 50%;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #ec7263;
      border-radius: 5px;
      transition: $transition-duration;
    }

    &:before {
      transform: translateY(-50%) rotate(45deg) scale(0);
    }

    &:after {
      transform: translateY(50%) rotate(-45deg) scale(0);
    }
  }

  /* Menu */
  .nav {
    display: inline-block;
    margin: 20px 0px;
    pointer-events: none;
    transition: $transition-duration;
  }

  // Showing nav items as lines, making up the hamburger menu icon
  .nav-item {
    position: relative;
    display: inline-block;
    float: left;
    clear: both;
    color: transparent;
    font-size: 14px;
    letter-spacing: -6.2px;
    height: 7px;
    line-height: 7px;
    text-transform: uppercase;
    white-space: nowrap;
    transform: scaleY(0.2);
    transition: $transition-duration, opacity 1s;

    //Set delays for the nav items in close transition
    @for $i from 1 through $items {
      &:nth-child(#{$i}) {
        $delay: ($i - 1) * $transition-delay;
        transition-delay: $delay;
        &:before {
          transition-delay: $delay;
        }
      }
    }

    // Adjusting width for first line
    &:nth-child(1) {
      letter-spacing: -8px;
    }

    // Adjusting width for second line
    &:nth-child(2) {
      letter-spacing: -7px;
    }

    // Adjusting the fourth element onwards
    &:nth-child(n + 4) {
      letter-spacing: -8px;
      margin-top: -7px;
      opacity: 0;
    }

    //getting lines for the hamburger menu icon
    &:before {
      position: absolute;
      content: "";
      top: 50%;
      left: 0;
      width: 200%;
      height: 2px;
      background-color: #ec7263;
      transform: translateY(-50%) scaleY(5);
      transition: $transition-duration;
    }
  }

  .text {
    margin: 15px 0 30px;

    span {
      display: inline-block;
      height: 10px;
      margin: 0 5px;
      background-color: #c06162;
      border-radius: 5px;

      &:first-child {
        width: 50px;
      }

      &:last-child {
        width: 80px;
      }
    }
  }
}
