.project-section {
  h1 {
    padding: 2rem 0rem;
    font-family: "Monument Extended";
    font-weight: 400;
    font-size: clamp(3rem, 5vw, 6rem);
  }
  .project-arrow {
    transition: 0.2s ease-in-out;
  }
  .projects-list:hover .project-arrow {
    transform: rotate(45deg);
  }
  .view-all {
    transition: 0.2s ease-in-out;
  }
  .view-all-projects:hover .view-all {
    transform: translateX(10px);
  }
}
