section {
  height: 100vh;
}
body {
  cursor: none;
  background-color: #0b0b0b;
}
::-moz-selection { 
  background: black;
}

::selection {
  background: black;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
